* {
  box-sizing: border-box;
  font-size: 16px;
}
html {
  min-height: 100%;
  position: relative;
}
a {
  color: #fff;
  transition: 1s;
  text-decoration: none;
}
header {
  height: 80px;
  width: 100%;
}
.menu {
  background-color: #333;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}
.logo {
  margin: none;
  height: 80px;
  border: none;
  border-radius: 0;
}
.menu_items {
  display: flex;
  list-style: none;
  margin-right: 2.5rem;
}
.menu_items li {
  border-radius: 5px;
  margin: 0 5px;
}
.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  color: #fff;
}
.menu_items li:hover {
  background-color: #4caf50;
  transition: 0.3s;
}
#nav-perfil {
  visibility: hidden;
  width: 135px;
  background-color: #fff;
  top: 70px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
header nav .info_usuario:hover #nav-perfil {
  visibility: visible;
}
.info_usuario {
  background-color: #4caf50;
}
#nav-perfil li {
  list-style: none;
}
#nav-perfil li a {
  color: #333;
}
#nav-perfil li a:hover {
  background: #333;
  color: #fff;
}
#nav-perfil::after {
  content: "";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.legen-nav {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}
h1 {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 3.5em;
}
h2 {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 3em;
}
h3 {
  text-align: center;
  margin: 10px;
}
h4 {
  text-align: center;
}
#carousel {
  width: 60%;
  margin: 0 auto;
}
main {
  display: block;
  width: 100%;
  min-height: calc(100vh - 100px);
}
p {
  text-align: center;
  margin: 20px 10%;
}
.calc-text {
  font-size: 1.5rem;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 1.5rem;
  position: relative;
}
.img-partner {
  height: 315px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
footer {
  display: block;
  margin-top: 1%;
  position: relative;
  height: 3rem;
  width: 100%;
  /* bottom: 0; */
}
.foot {
  height: 100%;
  background-color: #4caf50;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redes_sociales {
  margin-left: 10%;
}
label {
  font-weight: bold;
}
form {
  background-color: #4caf50;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  padding: 30px;
}
input,
select,
textarea {
  margin-bottom: 15px;
}
iframe {
  border-radius: 1.5em;
  margin: 0 auto;
  display: block;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.our-mail {
  color: #4caf50;
}
.btn.btn {
  font-weight: bold;
}
.form-pay {
  background-color: #fff;
}
.form-calc {
  background-color: #fff;
}
.form-calc div {
  width: 100%;
}
.form-singup-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-1 {
  width: 50%;
  margin: 2rem auto;
}
.container-2 {
  width: 50%;
}
#singup {
  max-width: 90%;
  margin: 2rem auto 4rem;
}
.d-grid {
  margin-top: 1em;
}
table {
  width: 100%;
  max-width: 80%;
  margin: 2rem auto;
}
.bad {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: red;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 1.5rem;
}
.ok {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: green;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 1.5rem;
}
.container-1 p {
  text-align: left;
}
.alta {
  color: red;
  font-size: 5rem;
}
.promedio {
  color: orange;
  font-size: 5rem;
}
.baja {
  color: green;
  font-size: 5rem;
}
